body {
    background-color: #f8f9fa;
    color: #212529;
}
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.header {
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #ffffff;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}
body.dark-mode .header {
    background-color: #1f1f1f;
    border-bottom: 1px solid #333;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.theme-toggler {
    cursor: pointer;
}
.sidebar {
    background-color: #f8f9fa;
    height: 100vh;
    position: fixed;
}
body.dark-mode .sidebar {
    background-color: #212529;
}
.card {
    background-color: #ffffff;
    color: #212529;
}
body.dark-mode .card {
    background-color: #212529;
    color: #ffffff;
}

@media (max-width: 767.98px) {
    .offcanvas-start {
        width: 70% !important;
    }
    .sidebar.offcanvas-start:not(.show) {
        visibility: initial !important;
        padding: 0 !important;
        width: 10px !important;
        transform: translateX(0) !important;
    }
    .sidebar.offcanvas-start:not(.show) .nav-link {
        display: none;
    }
    .sidebar.offcanvas-start:not(.show) .theme-toggler {
        display: none;
    }
}
.modal-content {
    background-color: #ffffff;
    color: #212529;
}
body.dark-mode .modal-content {
    background-color: #212529;
    color: #ffffff;
}
