body {
    background-color: #f8f9fa;
    color: #212529;
}
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}
body.dark-mode .header {
    background-color: #1f1f1f;
    border-bottom: 1px solid #333;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.theme-toggler, .lang-switcher {
    cursor: pointer;
}
.card {
    background-color: #ffffff;
    color: #212529;
}
body.dark-mode .card {
    background-color: #212529;
    color: #ffffff;
}
.header a {
    color: #212529;
}
body.dark-mode .header a {
    color: #ffffff;
}

.social-container {
    left: 0;
    top: 100%;
}

.social-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.social-panel.expanded {
    max-height: 50px; /* Adjust as needed */
}

.social-toggle {
    height: 10px;
    width: 200px;
    margin: 0 auto;
    background-color: #e9ecef;
    cursor: pointer;
}

body.dark-mode .social-toggle {
    background-color: #343a40;
}
